*~
emacs_init/dot_emacs.el
emacs_init/.owncloudsync.log
emacs_init/.sync_271852d03511.db
emacs_init/.sync_271852d03511.db-shm
emacs_init/.sync_271852d03511.db-wal
emacs_init/.nextcloudsync.log
latex_styles/.auto/
elfeed.org